// vars
$darkestColor: #222222;
$darkColor: #333333;
$greyColor: #999999;
$lightGreyColor: #BABABA;
$lighestGreyColor: #CACACA;
$LessLighterColor: #F5F5F5;
$lighterColor: #ffffff;
$vividColor: #FD8558;
$lessVividColor: #b85e3e;
$purpleColor: #3A0F73;

$fontS15: 15px;
$fontS70: 70px;
$fontS18: 18px;
$fontS40: 40px;
$fontS26: 26px;
$fontS24: 24px;
$fontS14: 14px;
$fontS32: 32px;  
$fontS20: 20px;    
$fontS12: 12px;   
$fontS23: 23px;   
